
body{
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: #222;
  margin-top: -3%;
  margin-bottom: 10px;
}

.container{
  flex:1;
}

.content{
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left:50%;
  padding: 5vmin 10vmin;
  position: absolute;
  text-align: center;
  top:50%;
  transform:translate(-50%, -50%);
  height: 70%;
  width: 50%;
  overflow: auto;
}

#event{
  border-style: solid;
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

#event > a{
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  border-radius: 12px;
  border: 2px solid #003399;
  background-color: #0066cc;
  position: relative;
  margin-left: 80vw;
  top: -3vh;
  padding: 8px;
}

#event > a:hover{
  color: #0066cc;
  background-color: white;
}

header > a{
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  border-radius: 12px;
  border: 2px solid #db8b72;
  background-color: #f0ac97;
  padding: 5px;
}

header > a:hover{
  color: #f0ac97;
  background-color: black;
}

#events {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#events td, #events th {
  border: 1px solid #ddd;
  padding: 8px;
}


#events tr:hover {background-color: #ddd;}

#events tr{
  background-color: #f2f2f2;
  font-size: 18px;
}

#events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #222;
  color: #9d9d9d;
  font-size: 20px;
}

#open_flt_btn{
  background-color: #222;
  border: 1px solid #222;
  color: #9d9d9d;
  border-radius: 5px;
  width: 16%;
  height: 6%;
  font-size: 18px;
}

#open_flt_btn:hover{
    color: white;
}


.form-popup {
  display: none;
}

.form-container {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left:88%;
  padding: 5vmin 10vmin;
  position: absolute;
  text-align: center;
  top:35%;
  transform:translate(-50%, -50%);
  height: 40%;
  width: 20%;
  overflow: auto;
}

#filter_button {
  background-color: #222;
  border: 1px solid #222;
  color: #9d9d9d;
  border-radius: 5px;
  width: 68%;
  height: 12%;
  font-size: 18px;
}

#filter_button:hover{
    color: white;
}

.group{
    margin-bottom: 15px;
}
