body{
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {color: #222; margin-top: -20px; margin-bottom: 20px;}

label {
  color: #222;
  font-weight: 700;
  font-size: 15px;
}
.content{
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0, 0, 0, 0.25);
  box-sizing:border-box;
  left:50%;
  padding: 5vmin 10vmin;
  position: absolute;
  text-align: center;
  top:50%;
  transform:translate(-50%, -50%);
  height: 38%;
  width: 32%;
}


input {
  font-size: 18px;
  width: 90%
}

.group{
    margin-bottom: 15px;
}

#login_button{
	background-color: #222;
	border: 1px solid #222;
	color: #9d9d9d;
	border-radius: 5px;
	width: 40%;
	height: 15%;
	font-size: 30px;
	margin-top:5%;
}

#login_button:hover {
	background-color: #222;
	color: white;
}
