<!DOCTYPE html>
<html>
    <head>
        <title>Create an Event</title>
    </head>
    <body>
      <h1> Sports Eventer </h1>
      <header>
          <button type="button" onclick="window.location='/'">Home</button>
      </header>
      <h3>Sport: {{event.sport}}</h3>
      <form action="/events/{{ event.event_id }}/edit" method="post">
          <label>People participating:</label>  <input type="number" name="people_participating" value="{{event.people_participating}}" required><br>
          <label>People needed:</label>         <input type="number" name="people_needed" value="{{event.people_needed}}" required><br>
          <label>Date:</label>                  <input type="date" name="date" value="{{event.date}}"><br>
          <label>Time:</label>                  <input type="time" name="time" value="{{event.time}}"><br>
          <label>Location:</label>              <input type="text" name="location" value="{{event.location}}"><br>
          <label>Price per person:</label>      <input type="number" name="price" value="{{event.price}}" required><br>
          <label>Short description:</label>     <input type="text" name="description" value="{{event.description}}"><br><br>
          <input type="submit" value="Submit">
      </form>
    </body>
</html>
