<!DOCTYPE html>
<html>
    <head>
        <title>Event</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
      <h1> Sports Eventer </h1>
      <header>
        <button type="button" onclick="window.location='/'">Home</button>
      </header>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}


      <div>
        <h3>{{event.created_by}}'s {{event.sport}} event</h3>
        <p>Participating: {{event.people_participating}}</p>
        <p>Free Places: {{event.people_needed}}</p>
        <p>Date: {{event.date}}</p>
        <p>Time: {{event.time}}</p>
        <p>Location: {{event.location}}</p>
        <p>Price per person: {{event.price}}</p>
        <p>Description: {{event.description}}</p>
      </div>

      <a href="/events/{{event.event_id}}/edit">Edit Event</a>
      <form action="/events/{{event.event_id}}/delete" method="post">
        <button type="submit">Delete Event</button>
      </form>
    </body>
</html>
