<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
          let data;
          let filterData;
          var user_id = {{user_id}} ;

          function openFilters(){
            document.getElementById("filters").style.display = "block";
          }


          function loadAllEvents(allEvents){
            var tableObject = $('table');
            $.each(allEvents, function(i, item){
              var str = '<tr class = "item" id="'+item.event_id+'">"';
              var btn = '<button class = "details" id="btn_'+item.event_id+'">Details</button>';
              var btn_join = '<button class = "join" id="btn_join_'+item.event_id+'">Join Event</button>';
              var tr = $(str).append(
                $('<td class="event_id">').text(item.event_id),
                $('<td class="created_by">').text(item.created_by + "'s "),
                $('<td class="sport">').text(item.sport + " event "),
                $('<td class="people_participating" hidden>').text("People participating: " + item.people_participating),
                $('<td class="people_needed"        hidden>').text("People needed: " + item.people_needed),
                $('<td class="date"                 hidden>').text("Date: " + item.date),
                $('<td class="time"                 hidden>').text("Time: " + item.time),
                $('<td class="loacation"            hidden>').text("Location: " + item.location),
                $('<td class="price"                hidden>').text("Price: " + item.price),
                $('<td class="description"          hidden>').text("Description: " + item.description),
                $('<td class="button">').append(btn),
                $('<td class="button_join">').append(btn_join)
              );
              $("table").append(tr);

              $("#btn_"+item.event_id).click(function(){
                console.log('Button ' + item.event_id + ' clicked');
                $("#"+item.event_id+" > .people_participating").toggle();
                $("#"+item.event_id+" > .people_needed").toggle();
                $("#"+item.event_id+" > .date").toggle();
                $("#"+item.event_id+" > .time").toggle();
                $("#"+item.event_id+" > .location").toggle();
                $("#"+item.event_id+" > .price").toggle();
                $("#"+item.event_id+" > .description").toggle();
              })

              $("#btn_join_"+item.event_id).click(function(){
                console.log("Join Button" + item.event_id + " was pressed");
                console.log(allEvents[i].people_participating);

                if(allEvents[i].people_participating >= allEvents[i].people_needed){
                  alert("YOU CANNOT JOIN THIS EVENT, BECAUSE IT IS FULL!");
                }  else {
                  $.ajax({
                    url: "http://localhost:5000/rest/events/join?event_id=" + item.event_id + "&user_id=" + user_id,
                    dataType: "json",
                    type: "PUT",
                    async: false
                  });
                  alert("YOU SUCCESSFULLY JOINED " + allEvents[i].created_by + "'s " + allEvents[i].sport + " EVENT!");
                  location.reload();
                }

              })
            })
          }

          function getData(){
            let deferred = $.Deferred();
            $.ajax({
              url: "http://localhost:5000/rest/events",
              dataType: "json",
              type: "GET",
              success: function(result){
                data = result;
                deferred.resolve();
              }
            });
            return deferred.promise();
          }

          function getFilteredData(urlToUse){
            let deferred = $.Deferred();
            $.ajax({
              url: urlToUse,
              dateType: "json",
              type: "GET",
              success: function(result){
                filterData = result;
                deferred.resolve();
              }
            });
            return deferred.promise();
          }



          $(document).ready(function(){
            var check = 0;
            $.when(getData()).done(function(){
              loadAllEvents(data);
              $("#filter_button").click(function(){
                check = 1;

                var sportVal = $("#sport").val();
                var minpriceVal = $("#minprice").val();
                var maxpriceVal = $("#maxprice").val();
                var urlToUse = "http://localhost:5000/rest/events/getfiltered?";
                var parametersInUse = 0;

                console.log(sportVal);

                if(sportVal.length === 0){

                } else {
                  if (parametersInUse > 0){
                    urlToUse += "&sport=" + sportVal;
                  } else {
                    urlToUse += "sport=" + sportVal;
                  }
                  parametersInUse++;
                }

                if(minpriceVal.length === 0){

                } else {
                  if (parametersInUse > 0){
                    urlToUse += "&minprice=" + minpriceVal;
                  } else {
                    urlToUse += "minprice=" + minpriceVal;
                  }
                  parametersInUse++;
                }

                if(maxpriceVal.length === 0){

                } else {
                  if (parametersInUse > 0){
                    urlToUse += "&maxprice=" + maxpriceVal;
                  } else {
                    urlToUse += "maxprice=" + maxpriceVal;
                  }
                  parametersInUse++;
                }


                console.log(minpriceVal);

                $("#events tr").remove();

                $.when(getFilteredData(urlToUse)).done(function(){
                  $("#events tr").remove();
                  console.log(filterData);
                  loadAllEvents(filterData);

                })



                document.getElementById("filters").style.display = "none";

              })
            });
          });


        </script>


    </head>
    <body>
    <nav class="navbar navbar-inverse" style="font-size: 20px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="font-size: 25px;">SportsEventer</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        {% block content %}
          {% if loggedin == False %}
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
            <li><a href="/register"><span class="glyphicon glyphicon-pencil"></span> Register</a></li>
          {% else %}
            <li><a href="/newEvent"><span class="glyphicon glyphicon-plus"></span> Create an Event</a></li>
            <li><a href="/myProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          {% endif %}
        {% endblock content %}
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="content">
        <h1>Events</h1>
        <button class="open-button" onclick="openFilters()">Filters</button>
        <table id="events">
            <tr>
              <th>Number</th>
              <th>Organizator</th>
              <th>Type</th>
              <th colspan="2">Actions</th>
            </tr>
        </table>
      </div>
    </div>
    <div class="form-popup" id="filters">
      <form class="form-container">
        <h1>Filters</h1>
        <label for="sport"><b>Sport</b></label>
        <select name="sport" id="sport">
            <option value="all">All sports</option>
            <option value="football">Football</option>
            <option value="basketball">Basketball</option>
            <option value="volleyball">Volleyball</option>
            <option value="tennis">Tennis</option>
        </select><br>
        <label for="minprice"><b>Min. Price</b></label>
        <input type="number" name="minprice" id="minprice"><br>
        <label for="maxprice">Max. Price</b></label>
        <input type="number" name="maxprice" id="maxprice"><br>
        <label for="date"><b>Date</b></label>
        <input type="date" name="date" id="date"><br>
        <button type="button" class="filter_" id="filter_button">Submit</button>
      </form>
    </div>

    </body>
</html>
