<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
      <h1> Sports Eventer </h1>
      <header>
      {% block content %}
          {% if loggedin == False %}
              <a href="/register">Register</a>
              <a href="/login">Log In</a>
          {% else %}
              <a href="/logout">Log out</a>
              <a href="/myProfile">My Profile</a>
              <a href="/newEvent">Create an Event</a>
          {% endif %}
      {% endblock content %}
      </header>


      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}


      {% for event in events %}
      <div id="event">
        <h3>{{event.created_by}}'s {{event.sport}} event</h3>
        <p>People: {{ event.people_participating }}/{{ event.people_participating+event.people_needed }}</p>
        <p>Date & Time: {{event.date}} - {{event.time}}</p>
        <a href="/events/{{event.event_id}}">See more details</a>
      </div>
      {% endfor %}
    </body>
</html>
