<!DOCTYPE html>
<html>
    <head>
        <title>My Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myProfile.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">

          var getUrlParameter = function getUrlParameter(sParam) {
              var sPageURL = window.location.search.substring(1),
                  sURLVariables = sPageURL.split('&'),
                  sParameterName,
                  i;

              for (i = 0; i < sURLVariables.length; i++) {
                  sParameterName = sURLVariables[i].split('=');

                  if (sParameterName[0] === sParam) {
                      return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                  }
              }
              return false;
          };



          let data;
          let joinData;
          var user_id = {{user.user_id}}

          function loadMyEvents(myEvents){
            var tableObject = $("#events");
            $.each(myEvents, function(i, item){
              var str = '<tr id="'+item.event_id+'">"';
              var editLink = '<a href="/myProfile/editEvent?event_id='+item.event_id+'">EDIT</a>';
              var delBtn = '<button id="delBtn_'+item.event_id+'">DELETE</button>';
              var tr = $(str).append(
                $('<td class="event_id">').text(item.event_id),
                $('<td class="created_by">').text(item.created_by + "'s "),
                $('<td class="sport">').text(item.sport + " event "),
                $('<td class="people_participating">').text(item.people_participating),
                $('<td class="people_needed">').text(item.people_needed),
                $('<td class="date">').text(item.date),
                $('<td class="time">').text(item.time),
                $('<td class="loacation">').text(item.location),
                $('<td class="price">').text(item.price),
                $('<td class="description">').text(item.description),
                $('<td class="EditLink">').append(editLink),
                $('<td class="DelButton">').append(delBtn)
              );
              $("#events").append(tr);

              $("#delBtn_"+item.event_id).click(function(){
                $.ajax({
                  url: "http://localhost:5000/rest/events/delete?event_id=" + item.event_id,
                  type: "DELETE",
                  success: function(){
                    location.reload();
                  }
                });
              })
            })
          }

          function getMyEvents(){
            let deferred = $.Deferred();
            $.ajax({
              url: "http://localhost:5000/rest/events?user_id=" + user_id,
              dataType: "json",
              type: "GET",
              success: function(result){
                data = result;
                deferred.resolve();
              }
            });
            return deferred.promise();
          }

          function loadJoinedEvents(joinedEvents){
            var tableObject = $("#joined_events");
            $.each(joinedEvents, function(i, item){
              var str = '<tr id="'+item.event_id+'">';
              var tr = $(str).append(
                $('<td class="event_id">').text(item.event_id),
                $('<td class="created_by">').text(item.created_by + "'s "),
                $('<td class="sport">').text(item.sport + " event "),
                $('<td class="people_participating">').text(item.people_participating),
                $('<td class="people_needed">').text(item.people_needed),
                $('<td class="date">').text(item.date),
                $('<td class="time">').text(item.time),
                $('<td class="loacation">').text(item.location),
                $('<td class="price">').text(item.price),
                $('<td class="description">').text(item.description)
              );
              $("#joined_events").append(tr);
            })
          }

          function getJoinedEvents(){
            let deferred = $.Deferred();
            $.ajax({
              url: "http://localhost:5000/rest/events/getjoined?user_id=" + user_id,
              dataType: "json",
              type: "GET",
              success: function(result){
                joinData = result;
                deferred.resolve();
              }
            });
            return deferred.promise();
          }


          $(document).ready(function(){
            $.when(getMyEvents()).done(function(){
              loadMyEvents(data);
            });
            $.when(getJoinedEvents()).done(function(){
              loadJoinedEvents(joinData);
            })
          });

        </script>
    </head>
    <body>
    <nav class="navbar navbar-inverse" style="font-size: 20px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="font-size: 25px;">SportsEventer</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/newEvent"><span class="glyphicon glyphicon-plus"></span> Create an Event</a></li>
            <li><a href="/myProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div class="content">
      <header>
        <h1>My info</h1>
      </header>
      <label><b>Username: </b></label>
      <label><b> {{user.username}} </b></label> <br>
      <label><b>Email: </b></label>
      <label><b> {{user.email}} </b></label> <br>
      
      <h2>My events</h2>
      <table id="events">
        <tr>
          <th>Number</th>
          <th>Organizator</th>
          <th>Type</th>
          <th>People Participating</th>
          <th>People Needed</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Price</th>
          <th>Descriptions</th>
          <th colspan="2">Actions</th>
        </tr>

      </table>
      <h3>Events I participate in</h3>
      <table id="joined_events">
        <tr>
          <th>Number</th>
          <th>Organizator</th>
          <th>Type</th>
          <th>People Participating</th>
          <th>People Needed</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Price</th>
          <th>Descriptions</th>
        </tr>
      </table>
      <br><br>
      <a id="edit_profile" href="/myProfile/{{user.user_id}}/edit">Edit Profile</a>
    </div>
    </div>

    </body>
</html>
