<!DOCTYPE html>
<html>
    <head>
        <title>Create an Event</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newEvent.css') }}">
    </head>
    <body>
      <nav class="navbar navbar-inverse" style="font-size: 20px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="font-size: 25px;">SportsEventer</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/newEvent"><span class="glyphicon glyphicon-plus"></span> Create an Event</a></li>
            <li><a href="/myProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
      </div>
    </nav>
      <div class="content">
      <h1> Create an Event </h1>
      <div id=create_event>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form action="/newEvent" method="post">
          <div class="group">
          <label>Sport:</label><br>
          <select name="sport">
            <option value="football">Football</option>
            <option value="basketball">Basketball</option>
            <option value="volleyball">Volleyball</option>
            <option value="tennis">Tennis</option>
          </select><br>
          </div>
          <div class="group">
            <label>People participating:</label><br>  
            <input type="number" name="people_participating" class="req" required><br>
          </div>
          <div class="group">
            <label>People needed:</label><br>
            <input type="number" name="people_needed" class="req" required><br>
          </div>
          <div class="group">
            <label>Date & Time:</label><br>
            <input type="date" name="date">
            <input type="time" name="time" ><br>
          </div>
          <div class="group">
            <label>Price per person:</label><br>
            <input type="number" name="price" class="req" required><br>
          </div>
          <div class="group">
            <label>Location:</label><br>
            <input type="text" id="location" name="location" class="req" required><br>
          </div>
          <div class="group">
            <label>Short description:</label><br>
            <textarea name="description" class="form-control" id="Description" rows="3" maxlength="300"></textarea><br><br>
          </div>
          <input id=submit_button type="submit" value="Submit">
      </form>
      </div>
    </body>
</html>
