<!DOCOTYPE html>
<html lang=eng>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1> Sports Eventer </h1>
    <form action="/register" method = "post">
      <label><b>Email</b></label><input name = "email" type="text"/><br>
      <label><b>Username</b></label><input name = "username" type="text"/><br>
      <label><b>Password</b></label><input name = "pwd" type="password"/><br>
      </br>
      <input type="submit" name = "sign_button" value = "Sign up">
    </form>
  </body>
</html>

