<!DOCTYPE html>
<html>
    <head>
        <title>Edit your event</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editEvent.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
          var getUrlParameter = function getUrlParameter(sParam) {
              var sPageURL = window.location.search.substring(1),
                  sURLVariables = sPageURL.split('&'),
                  sParameterName,
                  i;

              for (i = 0; i < sURLVariables.length; i++) {
                  sParameterName = sURLVariables[i].split('=');

                  if (sParameterName[0] === sParam) {
                      return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                  }
              }
              return false;
          };

          let data;
          var event_id = getUrlParameter('event_id');

          function getCurrentEvent(){
            let deferred = $.Deferred();
            $.ajax({
              url: "http://localhost:5000/rest/events/edit?event_id=" + event_id,
              dataType: "json",
              type: "GET",
              success: function(result){
                data = result;
                deferred.resolve();
              }
            });
            return deferred.promise();
          };

          function postCurrentEvent(eventInfo){
            let deferred = $.Deferred();
            $.ajax({
              url: "http://localhost:5000/rest/events/edit?event_id=" + event_id,
              dataType: "json",
              type: "POST",
              data: {'data': eventInfo},
              success: function(){
                console.log("Updated successfully");
                deferred.resolve();
              }
            });
            return deferred.promise();
          }

          function loadCurrentEvent(currentEvent){
            $('#participating').val(currentEvent.people_participating);
            $('#needed').val(currentEvent.people_needed);
            $('#date').val(currentEvent.date);
            $('#time').val(currentEvent.time);
            $('#location').val(currentEvent.location);
            $('#price').val(currentEvent.price);
            $('#description').val(currentEvent.description);
          };

          $(document).ready(function(){
            $.when(getCurrentEvent()).done(function(){
              loadCurrentEvent(data);
              console.log(data);
              $("#formEdit").attr('action', '/myProfile/editEvent?event_id='+data['event_id']);

              $("#submit_btn").click(function(){
                $(".error").hide();
                var hasError = false;

                var selectedDate = new Date($("#date").val());
                var currentDate = new Date();
                if(selectedDate < currentDate){
                  $("#date").after('<span class="error">You cannot chose a previous date!</span>');
                  hasError = true;
                }

                var participatingVal = $("#participating").val();
                if(participatingVal <= 0){
                  $("#participating").after('<span class="error">The amount of people cannot be negative or 0!</span>');
                  hasError = true;
                }

                var neededVal = $("#needed").val();
                if(neededVal <= 0){
                  $("#needed").after('<span class="error">The amount of people cannot be negative or 0!</span>');
                  hasError = true;
                }

                var priceVal = $("#price").val();
                if(priceVal < 0){
                  $("#price").after('<span class="error">The price cannot be negative!</span>');
                  hasError = true;
                }


                if(hasError == true){return false;}
              });
            });
          });
        </script>

    </head>
    <body>
      <nav class="navbar navbar-inverse" style="font-size: 20px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="font-size: 25px;">SportsEventer</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/newEvent"><span class="glyphicon glyphicon-plus"></span> Create an Event</a></li>
            <li><a href="/myProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
      </div>
      </nav>
      <div class="content">
      <h1>Edit Event</h1>
      <form id="formEdit" method="post">
        <div class="group">
        <label>People participating:</label><br>
        <input type="number" id="participating" name="participating" required><br>
        </div>
        <div class="group">
        <label>People needed:</label> <br>
        <input type="number" id="needed"        name="needed" required><br>
        </div>
        <div class="group">
        <label>Date:</label><br> 
        <input type="date"   id="date"          name="date"><br>
        </div>
        <div class="group">
        <label>Time:</label><br>
        <input type="time"   id="time"          name="time"><br>
        </div>
        <div class="group">
        <label>Price per person:</label><br>
        <input type="number" id="price"         name="price" required><br>
        </div>
        <div class="group">
        <label>Location:</label><br>
        <input type="text"   id="location"      name="location"><br>
        </div>
        <div class="group">
        <label>Short description:</label><br>
        <textarea name="description" class="form-control" id="description" rows="3" maxlength="300"></textarea><br><br>
        </div>
        <div class="group">
        <input id="submit_btn" type="submit" value="Submit">
      </form>
      </div>

    </body>
</html>
